
ul li{
  text-align: left;
}

body {
  position: relative;
  /* 100% 하니까 전체 가운데 정렬 적용됨 */
  /* width: 100%; */
  margin: 0;
  padding: 0;
}
.container{
  width: 1200px;
  display: flex;
  flex-direction: column;
  /* 줌 상관없이 항상가운데로 */
  margin: 0 auto;
  justify-content: space-between;
}
header {
  position: relative;
  height: 64px;
  display: flex;
  flex-direction: row;
  /*flex기준 주축정렬 현재 가로 */
  align-items: center;
  justify-content: left;
}
.dropbox-key1 ,.dropbox-key2, .dropbox-key3, .dropbox-key4{
  height: max-content;
  display: flex;
  line-height: 4;
}
.dropbox-value ul:nth-child(1) {
  font-size: 100px;
}
header div:nth-child(n){
  margin-right: 60px;
}
/* login-section */
.login-section span{
  margin: 0 20px;
}
header div:nth-child(6){
  display: flex;
  margin-left: 230px;
}
.dropbox-value{
  display: none;
}
.dropbox-key1:hover .dropbox-value{
  z-index: 1;
  line-height: 1;
  position: absolute;
  display: inline-block;
  text-align: left;
  top: 64px;
  right: 0px;
  width: 1200px;
  height: 400px;
  background-color: white;
}
.dropbox-key2:hover .dropbox-value{
  line-height: 1;
  position: absolute;
  display: inline-block;
  top: 64px;
  right: 0;
  width: 1200px;
  height: 400px;
  background-color: white;
}
.dropbox-key3:hover .dropbox-value{
  line-height: 1;
  position: absolute;
  display: inline-block;
  justify-content: left;
  top: 64px;
  right: 0;
  width: 1200px;
  height: 400px;
  background-color: white;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: visible;
  margin-top: 20px;
  height: 108px;
}
nav div{
  width: 103px;
  height: 105px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto 10px;
  background-color: rgb(255, 255, 255);
}
.iconbox{
  width: 72px;
  height: 72px;
  display: flex;
  /* 좌우 정렬 */
  justify-content: center;
  /* 상하 정렬 */
  align-items: center;
  border: 1px solid #333;
  border-radius: 30%;
  margin-bottom: 10px;
}

section{
  /* 여기 auto로 해놓고 내부 calc 먹이니까 밖으로 안나옴 왜인지 모르겠음 */
  width: auto;

}
main{
  width: 1200px;
  height: 2868px;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #fff;
}

.main-box{
  position: relative;
  /* width는 vw height는 vh 기억, 여기 20px 주면 왜 반응 안되는지 모르겠음 */
  width: calc(100vw);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* 좌우 중앙정렬 items 는 hire-box 중앙정렬되는데 content는 안됨 */
  justify-items: center;
  overflow: visible;
  padding: 0 0;
}
.main-item{
  width: 366px;
  height: 473px;
  border: 1px solid #333;
  border-radius: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  background-color: #fff;
  overflow: hidden;
  margin: 10px;
}
.main-item img{
  width: 100%;
  height: 236px;
  ;
}
.img-section {
  height: 10px;
}
.hire-box {
  width: 1200px;;
  height: 440px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* 좌우 중앙정렬? */
  align-content: space-between;

  background-color: rgba(0, 0, 0, 0.178);
}
.hire-box div{
  /* margin auto로 균형 정렬했음 */
  margin: auto;
}
.hire-item{
  /* 원래 564px */
  width: 564px;
  height: 250px;
  border: 1px solid #333;
  border-radius: 10%;
  display: flex;
  /* 좌우센터 정렬 */
  justify-content: center;
  background-color: #fff;
  margin: 20px;
  overflow: hidden;
}
.hire-item img{
  width: auto;
  height: 250px;
  background-size: cover;
}
.hire-section{
  width: 561px;
  height: 165px;
}
.apply-item{
  /* 365 */
  width: 320px;
  height: 152px;
  display: flex;
  flex-direction: row;
  /* 상하 정렬 */
  align-items: center;
  border: 1px solid #333;
  border-radius: 15%;

  background-color: #fff;
  margin: 10px;
  padding: 24px;
}
.apply-item img{
  width: 80px;
  height: 80px;
}
.apply-text-section{
  background-color: aquamarine;
}

footer{
  height: auto;
  text-align: left;
  margin: 4px 0px 64px;
  padding: 0 20px;

}
footer div{
  display: flex;
  flex-wrap: nowrap;
}
footer div:nth-child(2){
  display: flex;
  flex-direction: column;
  margin-top: 48px;
}
footer div:nth-child(2) span:nth-child(2) {
  width: 900px;
}
footer div:nth-child(3){
  margin-top: 24px;
}

/* id 목록 특정위치가 아닌 기능들은 아이디로만듬 */
#sort-center {
  display: flex;
  flex-direction: row;
  margin: 0 0px;
}
#sort-center p {
  font-size:bold;
  margin: 0 10px;
  background-color: aquamarine;
}
span{
  width: auto;
  font-size: 13.5px;
  letter-spacing:-1px;
  color: #2c323b;
}
a{
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration-line: none;
  
}
a :link{
  color: black;
}
a :visited{
  color: black;
}

hr{
  width: 100%;
}