/* 전체영역에서 여백을 없애줌 */
* {
  margin: 0;
  padding: 0;
}
body{
  width: 1460px;
  background-color: red;
}
header{
  min-height: 65px;
  background-color: #fff;
  display: flex;
  /* 상하 가운데 정렬 */
  align-items: center;
}
#sort-center {
  display: flex;
  flex-direction: row;
  margin: 0 80px;
}
#sort-center p {
  font-size:bold;
  margin: 0 30px;
  background-color: aquamarine;
}
div#top-login-menu{
  display: flex;
  position: relative;
  right: -30%;
  background-color: aquamarine;
}
#top-login-menu p {
  margin: 0 15px
}
aside{
  height: 400px;
  background-color:orange;
}
nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 108px;
  background-color:orange;
}
nav div{
  width: 103px;
  height: 97px;
  margin: 0 10px;
  background-color: aqua;
}
.iconbox{
  width: 72px;
  height: 72px;
  border: 1px solid #333;
  border-radius: 30%;
}

.mainbox{
  width: 366px;
  height: 473px;
  border: 1px solid #333;
  border-radius: 10%;
  background-color: #fff;
  margin: 20px;
}
main #sort-center{
  flex-wrap: wrap;
}

.hire-box{
  width: 564px;
  height: 439px;
  background-color: #fff;
  margin: 20px;
}

.apply-box{
  width: 365px;
  height: 152px;
  border: 1px solid #333;
  border-radius: 15%;
  background-color: #fff;
  margin: 20px;
}


/* ul li태그에 리스트 스타일을 없앰 */
ul li{
  list-style: none;
}
/* a태그에 텍스트 밑줄을 없애고 색상을 #333 */
a {
  text-decoration: none;
  color:#333;
}
/* 글자크기를 16px 맑은 고딕 굵게하고 width넓이 700, 높이 50만큼 배경색은 #ccc, 글자색은 검정색, 라인높이50px
menu박스 가운데정렬, 글자가운데 정렬 */
#menu {
  font:bold 16px "malgun gothic";
  width:100vh;
  height:65px;
  background: #ccc;
  color:black;
  line-height: 50px; 
  margin:0 auto;
  text-align: center;
}

/* menu태그 자식의 ul의 자식 li를 왼쪽정렬과 넓이 140설정 */
#menu > ul > li {
  float:left;
  width:140px;
  position:relative;
}